@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  min-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.p-img{
  height: 250px;
  width: 450px;
  object-fit: cover;
}

.d-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.d-flex-l>div>p{
  text-wrap: wrap;
}

.d-flex-l{
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.d-flex-l > div{
  width: 100%;
  height: auto;
}
.d-flex-l> div.about {
  flex-basis: 70%;
}
main {
  min-height: 300px;
  margin-top: 30px;
  margin-bottom: 60px;
}

        
